<tbody style="margin: 20px; display: block; color: #1E88E5 ; font-family: Helvetica; font-size:12px;">
 <tr>
   <td>
     <h3 style="font-family: Helvetica; font-size: 24px; color: #1976D2 ;">Dear Guardians of Health user,</h3>
   </td>
 </tr>

 <tr>
   <td>
     <p>Thank you for requesting to reset your password. Please access the link to complete the process.</p>
   </td>
 </tr>

 <tr>
   <td>
     <a style="background-color: #1E88E5 ; width: 135px; height: 48px; border-radius: 24px; display: block; text-align: center; padding-top: 16px; color: #FFFFFF ;" href="<%=sails.config.url_base%>/#/esqueci-minha-senha?hash=<%=hash%>">
       Reset password
     </a>
   </td>
 </tr>

 <tr>
   <td>
     <p>Or copy the link below:</p>
   </td>
 </tr>
 <tr>
   <td>
     <a href="<%=sails.config.url_base%>/#/esqueci-minha-senha?hash=<%=hash%>"><%=sails.config.url_base%>/#/esqueci-minha-senha?hash=<%=hash%></a>
   </td>
 </tr>
 <tr>
   <td>
     <p>
       <br>
       Best regards,
       <br>
       Guardians of Health.
     </p>
   </td>
 </tr>
</tbody>
