<tbody style="margin: 20px; display: block; color: #1E88E5 ; font-family: Helvetica; font-size:12px;">
 <tr>
   <td>
     <h3 style="font-family: Helvetica; font-size: 24px; color: #1976D2 ;">Estimado usuario , Guardianes de la Salud</h3>
   </td>
 </tr>

 <tr>
   <td>
     <p>Gracias por su interés en restablecer su contraseña . Por favor, acceder al enlace para completar el proceso.</p>
   </td>
 </tr>

 <tr>
   <td>
     <a style="background-color: #1E88E5 ; width: 135px; height: 48px; border-radius: 24px; display: block; text-align: center; padding-top: 16px; color: #FFFFFF ;" href="<%=sails.config.url_base%>/#/esqueci-minha-senha?hash=<%=hash%>">
       Restablecer la contraseña
     </a>
   </td>
 </tr>

 <tr>
   <td>
     <p>O copie el siguiente enlace:</p>
   </td>
 </tr>
 <tr>
   <td>
     <a href="<%=sails.config.url_base%>/#/esqueci-minha-senha?hash=<%=hash%>"><%=sails.config.url_base%>/#/esqueci-minha-senha?hash=<%=hash%></a>
   </td>
 </tr>
 <tr>
   <td>
     <p>
       <br>
       Atentamente,
       <br>
       Guardianes de la Salud.
     </p>
   </td>
 </tr>
</tbody>
