<h3>Push report</h3>
<p>Platform: <strong><%=platform%></strong><p>
<p>Amout of devices: <%=total%></p>
<hr/>
<h4>Push Content:</h4>
<strong>Title: <%=content.title %></strong>
<p>Message:<br/> <%=content.message %></p>
<hr/>
<h4>Google GCM return:<h4>
<p><%=JSON.stringify(response) %></p>