<div
     style="margin-top: 60px">
    <div class="row"
         style="padding: 0;margin: 0">
        <div class="col-md-2 sidebar">
            <%- partial('../admin/sidebar.ejs') %>
        </div>
        <div class="col-md-10">
            <div style="margin-left: 50px;margin-right: 50px">
            <h1 class="page-header">Manage Configurations</h1>
            <blockquote>
                <p>The platform supports multiple app configurations. Each app creates a separate environment for users and surveys. This data is sandboxed for displaying map results, but can be combined for research purposes.</p>
                <footer>For more information on app configurations, check out the <a href="docs/config">docs</a>.</footer>
            </blockquote>
            <% if (configs.length > 0) { %>
            <div class="row">
                <div class="panel panel-primary filterable">
                    <div class="panel-heading">
                        <h1 class="panel-title">Available Configurations</h1>
                        <div class="pull-right">
                            <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr class="filters">
                                <th><input type="text"
                                           class="form-control"
                                           placeholder="token"
                                           disabled></th>
                                <th><input type="text"
                                           class="form-control"
                                           placeholder="Name"
                                           disabled></th>
                                <th><input type="text"
                                           class="form-control"
                                           placeholder="URL"
                                           disabled></th>
                                <th><input type="text"
                                           class="form-control"
                                           placeholder="Location"
                                           disabled></th>
                                <th><input type="text"
                                           class="form-control"
                                           placeholder="Locale"
                                           disabled></th>
                                <th><input type="text"
                                           class="form-control"
                                           placeholder="Default"
                                           disabled></th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for(var i = 0; i < configs.length; i++) { %>
                            <tr>
                                <td><%= configs[i].token %></td>
                                <td><%= configs[i].name %></td>
                                <td><a href="<%= configs[i].url %>"><%= configs[i].url %></a></td>
                                <td><%= configs[i].location %></td>
                                <td><%= configs[i].locale %></td>
                                <td class="<%= configs[i].default ? 'text-success' : 'text-default' %>"
                                    width="80px">
                                    <i class="glyphicon <%= configs[i].default ? 'glyphicon-star text-success' : 'glyphicon-star-empty text-default' %>"
                                       aria-hidden="true"></i>
                                    <span><%= configs[i].default ? 'YES' : 'NO' %></span>
                                </td>
                                <td width="150">
                                    <a href="app/edit/<%= configs[i].id %>"
                                       title="Edit"
                                       class="btn btn-info btn-sm"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a href="app/delete/<%= configs[i].id %>"
                                       title="Delete"
                                       class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove-sign"></i></a>
                                    <a href="app/default/<%= configs[i].id %>"
                                       title="Make Default"
                                       class="btn btn-success btn-sm <%= configs[i].default ? 'disabled' : '' %>">
                                        <i class="glyphicon glyphicon-star"></i>
                                    </a>
                                </td>
                            </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <% } else { %>
            <div class="row">
                <div class="alert alert-info"
                     role="alert"><strong>Data is empty.</strong> Add a default configuration below</div>
            </div>
            <% } %>
                <%- partial('../partials/flash.ejs') %>
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Add configuration</h1>
                    </div>
                    <div class="panel-body">
                        <form action="/app/create"
                              method="post">
                            <input type="hidden"
                                   name="client"
                                   value="dashboard">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="app_name">Name</label>
                                        <input type="text"
                                               name="name"
                                               class="form-control"
                                               id="app_name"
                                               placeholder="App Name">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="app_url">URL</label>
                                        <input type="text"
                                               name="url"
                                               class="form-control"
                                               id="app_url"
                                               placeholder="Default URL for the app">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="locale_list">Default Locale</label>
                                        <select name="locale"
                                                id="locale_list"
                                                class="form-control dropdown-toggle"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false"><span class="caret"></span></select>
                                        <p class="help-block">Default language for internationalization</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="app_location">Default Location</label>
                                        <input type="text"
                                               name="location"
                                               class="form-control"
                                               id="app_location"
                                               placeholder="Readable Default Location for the app">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="app_latitude">Latitude</label>
                                        <input type="tel"
                                               name="latitude"
                                               class="form-control"
                                               id="app_latitude"
                                               placeholder="Latitude for the center of the map">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="app_longitude">Longitude</label>
                                        <input type="tel"
                                               name="longitude"
                                               class="form-control"
                                               id="app_longitude"
                                               placeholder="Longitude for the center of the map">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button"
                                            style="margin-top: 30px"
                                            id="location_picker"
                                            data-toggle="modal" data-target="#pickerModal"
                                            class="btn btn-info btn-sm btn-block">Pick a location</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label for="app_token">App Token</label>
                                        <input type="text"
                                               name="token"
                                               class="form-control"
                                               id="app_token"
                                               placeholder="Security token for API operations">
                                        <p class="help-block">Client token to protect API operations. All non-public API endpoints must send this token in the header of the request</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button"
                                            style="margin-top: 30px"
                                            id="generate_token_hash"
                                            class="btn btn-info btn-sm btn-block">Generate Hash</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label for="app_secret">App Secret</label>
                                        <input type="text"
                                               name="secret"
                                               class="form-control"
                                               id="app_secret"
                                               placeholder="Security secret used as salt for password encryption">
                                        <p class="help-block">This secret is used when encrypting new user's passwords</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="button"
                                            style="margin-top: 30px"
                                            id="generate_secret_hash"
                                            class="btn btn-info btn-sm btn-block">Generate Hash</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="ill_date">Start date</label>
                                        <input type="text"
                                               name="start_date"
                                               class="form-control"
                                               id="ill_date"
                                               placeholder="When does the event start?">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="ill_date">End date</label>
                                        <input type="text"
                                               name="start_date"
                                               class="form-control"
                                               id="ill_date"
                                               placeholder="When does the event end?">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="submit"
                                                class="btn btn-success btn-lg btn-block">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
